* {
    font-family: 'Poppins', sans-serif;;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

header {
    background: #f6f6f6;
    padding: 22px 0;
}

.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}

.header-container a,i {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 27px 6px;
    margin-right: 63px;
}

.fa-search {
    background: #ffea00;
    padding: 27px 27px;
}

.header-container a:hover {
    background: #ffea00; 
}

#menu-checkbox {
    display: none;
}

ul {
    display: flex;
}

nav {
    margin-top: 20px;
}

.top-slide {
    background: url('img/slider_bg.jpg') no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 280px;
}

.top-container {
    width: 85%;
    margin: 0 auto;
}

.top-slide h2 {
    background: #ffea00;
    display: inline;
    font-size: 70px;
    font-weight: 300;
    padding: 0 13px;
}

.top-slide :nth-child(2) {
    margin-bottom: 10px;
}

.top-slide p {
    background: #414146;
    color: #fff;
    display: inline;
    font-size: 24px;
    padding: 0 4px;
}

.specialize-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.specialize-container h3 {
    margin-top: 90px;
    font-size: 35px;
    font-weight: 300;
    color: #414146;
}

.specialize-container p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
}


.specialize-cards {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}

.card {
    background: #f6f6f6;
    margin-bottom: 50px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
    margin-top: 20px;
}

.card h4 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    margin-top: 20px;
    font-size: 20px;
}

/*
.specialize-container{
    padding-top: 65px;
    width: 88%;
    margin: 0 auto;
    text-align: center;
  }
  
  .specialize-container h3{
    font-size: 35px;
  }
  
  .specialize-container p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .first-p{
    font-size: 20px;
    color: white;
  }
  
  .bottom-card{
    background: #424147;
    position: relative;
    top:-30px;
  }
  
  .specialize-cards{
    display: flex;
    justify-content: space-between;
  }
  
  
  .card-image{
    width: 250px;
    height: 212px;
    background: yellow;
  }
  
  .image img{
    position: relative;
    top:33px;
  }
  
  .card-image .p2{
    padding-top:45px;
   font-size: 20px;
  }
  
  .card-image .p3{
    padding-top:53px;
   font-size: 20px;
  }
  
  .card-image .p4{
    padding-top:30px;
   font-size: 20px;
  }

*/

.portfolio {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.portfolio h4 {
    font-size: 30px;
    background: #424147;
    color: #f5e10a;
    padding: 0px 8px;
    display: inline-block;
    margin-bottom: 30px;
}

.portfolio p {
    font-size: 20px;
    color: #424146;
}

.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 5px;
    margin-bottom: 30px;
}

.toggles button::after {
    content: ' / ';
}

.toggles button:last-child:after {
    content: '';
}

.posts {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
}

.post:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
    height: 5000px;
}

.brand-slider {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.brand-slider h4 {
    font-size: 30px;
    background: #424147;
    color: #f5e10a;
    padding: 0px 8px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 50px;
}

.brand-slider p {
    font-size: 20px;
    color: #424146;
    margin-bottom: 30px;
}

footer {
    height: 500px;
    background: #414146;
    padding: 50px 0;
    color: #fff;
    align-items: flex-end;
}

footer h4 {
    font-size: 18px;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
}

.footer-container-bottom {
    width: 100%;
    height: 100px;
    background: #000;
    margin: 50px auto;
    margin-bottom: 0;
}

.footer-container-bottom2 {
    width: 100%;
    height: 100px;
    background: #414146;
}

.copyright {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

.copyright a {
    color: #fff;
    font-style: italic;
}

.footer-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
    align-self: center;
    margin-top: 25px;
    padding: 10px 15px;
}

.footer-container .about-us a {
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ffea00;
    display: inline-block;
}

.images {
    margin-top: 10px;
}

.images img:hover {
    box-shadow: rgba(0, 0, 0, 0.2);
}

.tweets p {
    margin-top: 30px;
}

.tweets span {
    color: #ffea00;
}

.social-connecting {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.social-connecting .soc-icon {
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 10px;
}

.contact-info {
    margin-bottom: 20px;
}

.contacts p {
    margin-bottom: 20px;
}

.contacts img {
    margin-right: 10px;
}

.follow-us {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacts span {
    color: #ffea00;
}

.sp-con {
    color: #ffea00;
    margin-left: 100px;
}






@media screen and ( max-width: 420px ) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .main-menu {
        display: none;
    }

    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }

    .main-menu a {
        display: block;
        padding: 8px;
    }

    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 20px;
    }

    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }

    #menu-checkbox:checked + nav[role="navogation"] .toggle-button:after {
        content: attr(data-close);
    }

    .header-container a{
        margin-right: -65px;
    }

    .fa-search {
        display: none;
    }

    .main-menu {
        position: relative;
        top: 30px;
        right: 7px;
    }

    .top-slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .top-slide h2 {
        font-size: 32px;
    }

    .top-slide p {
        font-size: 16px;
    }

    .specialize-container p {
        font-size: 16px;
    }
    
    .specialize-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .posts {
        width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto;
    }
}